[defaults]
localhost_warning=False
retry_files_enabled=False
# Retry files disabled to avoid cluttering CI/CD environments
interpreter_python=auto_silent
timeout=30
library=~/.ansible/plugins/modules:./ansible/plugins/modules:./common/ansible/plugins/modules:/usr/share/ansible/plugins/modules
roles_path=~/.ansible/roles:./ansible/roles:./common/ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
filter_plugins=~/.ansible/plugins/filter:./ansible/plugins/filter:./common/ansible/plugins/filter:/usr/share/ansible/plugins/filter
# Collections: user/galaxy installs first (~ expands to $HOME, e.g. /git/home in VP
# imperative jobs), then the util image under /usr/share. Dev mode installs into
# ~/.ansible/collections; without the first entry, ansibleDevMode would be ignored.
collections_path=~/.ansible/collections:/usr/share/ansible/collections
